.search {
    &-container {
        width: 100%;
        height: 60px;
        background-color: #323a54;
        display: flex;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
    }

    &-form {
        width: 100%;
        max-width: 1200px;
        margin: 10px auto;
    }

    &-input {
        margin-left: 10px;
        padding: 10px;
        width: 300px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        outline: none;
        border: none;
    }

    &-button {
        backface-visibility: hidden;
        border: none;
        outline: none;
        background: #3f51b5;
        padding: 10px;
        border-left: 1px solid black;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #fff;
        transition-duration: 0.3s;
        cursor: pointer;
    
        &:hover{
            color: #3f51b5;
            background-color: #fff;
        }
    }
}

.logo {
    margin-left: 10px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}
